html {
  font-size: 100%;
  line-height: 1.5em; }

html {
  background-color: #eee; }

.page {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 37rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.75);
  min-height: 100vh;
  flex-direction: column;
  background-color: white; }
  .page:after {
    content: " ";
    display: block;
    clear: both; }

.page__header,
.page__main,
.page__footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  float: left;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0; }

.main-menu__list {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden; }
  .main-menu__list li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
    white-space: nowrap;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem; }
    .main-menu__list li:first-child {
      padding-left: 0; }
    .main-menu__list li:last-child {
      padding-opposite-position(left): 0; }

.main-menu__link {
  text-decoration: none; }
  .main-menu__link:hover, .main-menu__link:focus {
    text-decoration: underline; }

img {
  max-width: 100%; }

/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+bash+git+http+ini+markdown+php+php-extras+scss+sql+twig+yaml */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

pre[class*="language-"] {
  font-size: 0.75rem;
  line-height: 0.75rem; }
