@import "susy";
@import "compass/typography/links/hover-link";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/vertical_rhythm";

$susy: (
  columns: 1,
  gutters: 1/16,
  math: fluid,
  output: isolate,
  gutter-position: inside,
);

@include establish-baseline;

.page {
  margin: 24px;
  @include container(40rem);
  background-color: #eee;
}

.page__header,
.page__main,
.page__footer {
  @include span(1);
  background-color: white;
}

body {
  font-family: sans-serif;
}

.main-menu__list {
  @include horizontal-list(1rem);
}

.main-menu__link {
  @include hover-link;
}

img {
  max-width: 100%;
}
