@import "susy";
@import "compass/typography/links/hover-link";
@import "compass/typography/lists/horizontal-list";
@import "compass/typography/vertical_rhythm";

$container-width: 40rem;
$gutter-width: 1.5rem;
$rhythm-unit: "rem";
$rem-with-px-fallback: false;

$susy: (
  container: $container-width - (2 * $gutter-width),
  columns: 1,
  column-width: $container-width,
  gutters:  $gutter-width / $container-width,
  math: fluid,
  gutter-position: inside-static,
);

@include establish-baseline;

html {
  background-color: #eee;
}

.page {
  @include container;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
  min-height: 100vh;
  background-color: white;
}

.page__header,
.page__main,
.page__footer {
  @include span(1);
  padding-left: $gutter-width;
  padding-right: $gutter-width;
  overflow: hidden;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.main-menu__list {
  @include horizontal-list(1rem);
}

.main-menu__link {
  @include hover-link;
}

img {
  max-width: 100%;
}

@import "prism-okaidia";

pre[class*="language-"] {
  @include adjust-font-size-to(12px, .5);
}
